<?xml version="1.0"?>
<config>
  <modules>
    <Mec_Rmaddon>
      <version>0.1.0</version>
    </Mec_Rmaddon>
  </modules>
  <global>
    <helpers>
      <rmaddon>
        <class>Mec_Rmaddon_Helper</class>
      </rmaddon>
    </helpers>
	<blocks>
	  <rmaddon>
		<class>Mec_Rmaddon_Block</class>
	  </rmaddon>
	</blocks>
	<models>
	  <rmaddon>
		<class>Mec_Rmaddon_Model</class>
		<resourceModel>rmaddon_mysql4</resourceModel>
	  </rmaddon>
	  <rmaddon_mysql4>
		<class>Mec_Rmaddon_Model_Mysql4</class>
		<entities>		  
			  <receivelist>
				<table>mec_receive_list</table>
			  </receivelist>		  
			  <rmalog>
				<table>mec_rma_log</table>
			  </rmalog>
        </entities>
	  </rmaddon_mysql4>
	</models>
	<resources>
	  <salesattribute1390282211_setup>
		<setup>
		  <module>Mec_Rmaddon</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1390282211_setup>
	  <salesattribute1390282211_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1390282211_write>
	  <salesattribute1390282211_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1390282211_read>
	  
	  <rmaddon_setup>
		<setup>
		  <module>Mec_Rmaddon</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </rmaddon_setup>
	  <rmaddon_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </rmaddon_write>
	  <rmaddon_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </rmaddon_read>
	  
	</resources>
  </global>
  <admin>
	<routers>
	  <rmaddon>
	    <use>admin</use>
		<args>
		  <module>Mec_Rmaddon</module>
		  <frontName>rmaddon</frontName>
		</args>
	  </rmaddon>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <rmaddon module="rmaddon">
		<title>Rmaddon</title>
		<sort_order>100</sort_order>
		<children>
		  <receivelist module="rmaddon">
		    <title>Manage Receivelist</title>
			<sort_order>0</sort_order>
			<action>rmaddon/adminhtml_receivelist</action>
		  </receivelist>
		</children>
	  </rmaddon>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<rmaddon translate="title" module="rmaddon">
			  <title>Rmaddon</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <receivelist translate="title">
			<title>Manage Receivelist</title>
			<sort_order>0</sort_order>
		  </receivelist>
			  </children>
			</rmaddon>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<rmaddon>
		  <file>rmaddon.xml</file>
		</rmaddon>
	  </updates>
	</layout>
  </adminhtml>
</config> 